/************
Reset
*************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    background-color:#7fffd4;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header, footer{
    padding: 1.25rem;
}

.board{
    height: 37.5rem;
    width:  37.5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.cell{
    outline: 1px solid black;
    background-color:#7fffd4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    height: calc(100% / 10);
}
.blue{
    outline: 1px solid black;
    background-color: cornflowerblue;
}
